# Ignore Umbraco folders (Generated folders created by Umbraco)
ClientDependency/
TEMP/
Logs/
Cached/
ExamineIndexes/

# Ignore Umbraco content cache file
umbraco.config
Slack.Contour.Web/bin/
Slack.Contour/obj/
packages/
Slack.Contour/bin/
